<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Company</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/companies/{id}(id=${company.getId()})}" th:object="${company}">
    <h1 class="registration">REGISTRATION</h1>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4"><b>COMPANY NAME</b></label>
            <input type="text" th:field="${company.nameOfCompany}" class="form-control" id="inputEmail4" placeholder="AMAZON">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4"><b>LOCATION</b></label>
            <input type="text" th:field="${company.locatedCountry}" class="form-control" id="inputPassword4" placeholder="USA">
        </div>
    </div>

    <input type="submit" class="btn btn-primary" th:value="Update">
</form>


</body>
</html>